<footer>
    {{#if user}}
    <div class="contact">
        <a class="contact" href="/users/contact">Contáctanos
            <i class="fa-solid fa-inbox"></i>
        </a>
    </div>
    {{else}}
    <div class="contact">
        <a class="contact" href="/contact">Contáctanos
            <i class="fa-solid fa-inbox"></i>
        </a>
    </div>
    {{/if}}
</footer>