<link rel="stylesheet" href="../styles/style-home.css">
<main>
        <div class="container-noauth">
                <img class="img-denied" src="../IMAGES/acceso-denegado.jpg" alt="Acceso no autorizado">
        </div>

        <div class="btn-Home">
                <a href="/" class="btn-warning">Volver al Inicio</a>
        </div>
</main>