<link rel="stylesheet" href="../styles/style-home.css">
<main>
  <div class="container-secret">
    <div class="div-img">
      <img class="img-secret" src="../IMAGES/Supervision-y-Control-de-Obra-Electrica.png" alt="Vista Secreta">
    </div>
    <div class="text-secret">
      <h2> ¡{{user.name}} gracias por visitarnos!</h2>
      <p> En esta sección vas a poder interactuar
        directamente con nosotros, ver los productos disponibles y seleccionarlos.
        En la parte superior tenés el menú disponible para que te puedas
        informar de todo tu mismo/a.
        En la parte inferior podes seleccionar si deseas contactarnos, al cabo de 72hs hábiles
        seran respondidas tus consultas.
        Desde ya, bienvenidos!
      </p>
    </div>
  </div>
</main>